h1, h2, h3, h4, h5, h6
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #696969;
    margin: 0.5em 0 .6em;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	line-height: 130%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, hgroup, header, footer, nav, section 
{
    display: block;
}								

body 
{
    background-color: #ffffff;
    font-size: .85em;
font: 15px/150% Georgia, "Times New Roman", Times, serif;

    margin: 0;
    padding: 0;
    color: #696969;
}


a:link, a:visited, a:active
{
    color: #c70000;
    text-decoration: none;
}

a:hover 
{
    color: #1d60ff;
    text-decoration: underline;
}

p, ul 
{
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1 a, h1 a:active, h1 a:link, h1 a:visited
{
    color: #702626;   
    text-decoration: none;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

small 
{
    color: #959595;
}

img 
{
    border: 1px solid #ccc;
    padding: 5px;    
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

header, #header 
{
    position: relative;
    margin-bottom: 0px;
    color: #fff;
    padding: 0;
    background-color: #aa0000;
    border-bottom: 1px #7d0900 solid;
}

header h1, #header h1 
{
    font-weight: bold;
    padding: 5px 10px;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 1.4em;
    font-size: 26px !important;
}

header h1 a:visited, header h1 a:hover, header h1 a:active, deader h1 a:link
{
    color: #fff;
}

header h1 a:link, #header h1 a:link
{
    color: #fff;
    text-decoration: none;
}


#main 
{
    float: left;
    width: 700px;
    background-color: #fff;
}

#sidebar 
{
    width: 250px;
    float: right;
}

#main article 
{
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

footer, 
#footer 
{
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

.container 
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

footer 
{
    clear: both;
}

.blogpost span.blogpost_info 
{
    font-size: 14px;
}

.blogpost img.intro_image
{
    margin-top: 15px;
}

.blogpost_date 
{
    margin-right: 15px;
    background: url(../img/blogpost_date_bg.png) no-repeat;
    font-size: 24px;
    padding-top: 10px;
    width: 58px;
    height: 48px;
    float: left;
    position: relative;
    top: 15px;
    color: #fff;
    text-align: center;
}

.blogpost_date span 
{
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.widget
{
    padding: 10px;
}

.widget h3
{
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 5px solid #E5E5E5;
}

.widget ul
{
    
}

.widget ul li
{
    
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu 
{
    padding: 0 0 2px;
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0;
    text-align: right;
}

ul#menu li 
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting 
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a 
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover 
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active 
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a 
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend 
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

input[type="text"], 
input[type="password"] 
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select 
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] 
{
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
